html,
body {
    height: 100%;
    margin: 5em;
}

#text {
    width: 800px;
}

#sketch-holder {
    margin: 0;
    display: flex;
    justify-content: left;
}

#controls {
    display: flex;
    justify-content: left;
}